{% extends 'list.html' %} {% block title %}User Edit Page{% endblock %} 

{% block content %}
<h1>
  Edit {{user.first_name}}{% if user.last_name%} {{user.last_name}}{% else %}{%
  endif %}
</h1>
<form action="/users/{{user.id}}/edit" method="post">
  <div>
    <label for="firstName">First Name:</label>
    <input
      type="text"
      id="firstName"
      name="firstName"
      placeholder="Update first name"
      required
    />
  </div>
  <div>
    <label for="lastName">Last Name:</label>
    <input
      type="text"
      id="lastName"
      name="lastName"
      placeholder="Update last name"
    />
  </div>
  <div>
    <label for="imageURL">User Profile Picture URL:</label>
    <input
      type="url"
      id="imageURL"
      name="imageURL"
      placeholder="Update image URL"
    />
  </div>
  <button>Save</button>
</form>
<form action="/users/{{user.id}}">
    <button>Cancel</button>
</form>
{% endblock %}
